* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-send {
    display: block;
    height: 40px;
    width: 100px;
    border: transparent;
    border-radius: 5px;
    background-color: rgb(236, 232, 232);
    color: #000 !important;
    box-shadow: #000 1px 1px 5px;
}
.btn-send:hover{
    background-color: #fff;
    box-shadow: none;
}
body {
    background-image: url(image/paper-1100254_1920.jpg);
    background-size: cover;
    height: 100%;
}
footer {

    padding: 3em 0 3em;
    background-color: #fff;
    color: #000;
}
.cadre {
    background-color: rgba(39, 38, 38, 0.582);
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 7px;
    
}
.cadre-reponse {
    background-color: rgba(238, 234, 234, 0.76);
    border-radius: 7px;
    padding: 15px;
    box-shadow: #000 5px 5px 30px;
}
.space {
    display: block;
    height: 70px;
}
.space-30 {
    display: block;
    height: 30px;
}
.space-cadre {
    display: block;
    height: 50px;
}
.space-bottom {
    display: block;
    height: 80px;
}
.input {
    
    display: flex;
    align-items: center;
    flex-direction: column;

}

.input input {
    width: 500px;
}
label {
    visibility: hidden;
}
@media screen and (max-width: 992px){
    .cadre {
        background-color: rgba(39, 38, 38, 0.582);
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-radius: 7px;
        
    }
    .input input {
        width: 90%;
    }
    body{
        background-image: url(image/paper-1100254_1920.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #1d201f;
    }
}